body{
	background-color: #00a1ee	
}

#master{
	width: 100%;
}

#master h3{
	margin: 0 auto;
	width: 165px;
	text-align: right;
	color: #efefef;
}

#master li{
	display: inherit;
}

#master button{
	width: 190px;
	color: white;
	background: #aaa;
	border: 1px solid #888;
	font-weight: bold;
}

#mainMenu, #content{
	margin: 0 auto;
	width: 260px;
}

#mainMenu button{
	margin-bottom: 25px;
}

#content{
	display: none;
}

#hora{
	padding-left: 50px;
	color: #efefef;
	font-weight: bold;
}
